body, html {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 25px;
	background-color: lightgray;
}

table{
	text-align: center;
	border: 1.5px, solid, black;
	border-collapse: collapse;
	border-spacing: 25px, 50px;
	margin: auto;
	width: 600px;
	margin: auto;
}

.td-importante{
	background-color: orange;
	text-align: center;
	letter-spacing: 1px;
	align-content: center;
}

h1{
	font-weight: bold;
	background-color: lightyellow;
	color: steelblue;
	font-size: 1.8rem;
	padding: .35rem;
	text-align: center;
	border: .35rem hidden red;
	border-radius: 25px;
	box-shadow: 3px 3px 3px grey;
	text-shadow: 5px 5px 7px lightblue;
	width: 98%;
}

button{
	border: .5rem ;
	border-radius: 50px;
	text-align: center;
	font-size: 1rem;
	color: black;
	background-color: burlywood;
	letter-spacing: 1px;
	box-sizing: border-box;
}

button:hover{
	background-color: dodgerblue;
}

.button-td-confirm{
	border: .75rem;
	border-radius: 100px;
	text-align: center;
	font-size: .8rem;
	background-color: khaki;
	color: green;
	margin: 10px;
}

.button-td-confirm:hover{
	background-color: lightgreen;
}

.button-td-cancel{
	border: .75rem;
	border-radius: 100px;
	text-align: center;
	font-size: .8rem;
	background-color: khaki;
	color: red;
	margin: 10px;
}

.button-td-cancel:hover{
	background-color: lightcoral;
}

input{
	width: 500px;
	height: 30px;
	font-size: 18pt;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	border-color: grey;
}

#container{
	margin: auto;
	width: 40%;
	align-self: center;
	border: 1px hidden;
	border-radius: 25px;
	box-shadow: 8px 8px 10px black;
	background-color: ivory;
	padding-bottom: 20px;
}

#done-activity{
	text-decoration: line-through;
	background-color: green;
	color: black;
}